<div id="conteudo">
  <div id="ladoEsquerdo">
    <div id="conteudoLadoEsquerdo">
      <div id="logo">
        <img src="../../../assets/icons/Riot_Games_2019_29.png" alt="" draggable="false">
        <h1 id="riotTitulo">RIOT GAMES</h1>
      </div>
      <h1>Cadastrar</h1>
      <div id="caixasDeLog">
        <input type="text" placeholder="NICK NAME" [(ngModel)]="nickName" (input)="liberarCadastro()">
        <input type="text" placeholder="NOME DE ACESSO" [(ngModel)]="nomeDeAcesso" (input)="liberarCadastro()">
        <input type="text" placeholder="EMAIL" [(ngModel)]="email" (input)="liberarCadastro()">
        <input type="password" placeholder="SENHA" [(ngModel)]="senha" (input)="liberarCadastro()">
      </div>
      <button [disabled]="!cadastroDisponivel" id="criarConta" 
        [ngStyle]="{
          'cursor': cadastroDisponivel ? 'pointer' : 'default',
          'background-color' : cadastroDisponivel ? 'var(--vermelho-menu)' : '',
          'color' : cadastroDisponivel ? 'white' : ''
        }"
      >CRIAR CONTA</button>
      <div id="erros">
        <p class="pointer erros" routerLink="">JÁ ESTÁ CADASTRADO ?</p>
      </div>
    </div>
  </div>
  <div id="ladoDireito"
    [ngStyle]="backgroundIMG"
  >
  </div>
</div>