
#logRedeSocial {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#fcb {
  background-color: rgb(24, 119, 242);
  background-image: url('../../../assets/icons/facebook.png');
  background-repeat: no-repeat;
  background-position: center;
}

#ggl {
  background-color: white;
  background-image: url('../../../assets/icons/google.png');
  background-repeat: no-repeat;
  background-position: center;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  border-width: 2px;
}

#apl {
  background-color: black;
  background-image: url('../../../assets/icons/apple.png');
  background-repeat: no-repeat;
  background-position: center;
}

#xbx {
  background-color: rgb(16, 124, 16);
  background-image: url('../../../assets/icons/xbox.png');
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  width: 23%;
  height: 30px;
  border-style: none;
  border-radius: 5px;
}

#manterLogin {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: rgba(0, 0, 0, 0.781);
}

#checkBox {
  margin-right: 8px;
}

#logar {
  width: 60px;
  height: 60px;
  margin-top: 50%;
  margin-bottom: 20%;
  border-radius: 18px;
  border-color: rgba(0, 0, 0, 0.068);
  border-style: solid;
  border-width: 2px;

  background-color: white;
  background-image: url('../../../assets/icons/login.png');
  background-repeat: no-repeat;
  background-position: center;
}

